<h1>Login here!</h1>
<%= form_with url: login_path do |u| %>
<%= u.label :username %> 
<%= u.text_field :username %> 
<%= u.label :password %> 
<%= u.password_field :password %> 
<%= u.submit 'Create Profile' %>
<% end %>
