<h1>Sign up here!</h1>
<%= form_with model: @user do |u| %>
<%= u.label :email %> 
<%= u.text_field :email %> 
<%= u.label :username %> 
<%= u.text_field :username %> 
<%= u.label :password %> 
<%= u.password_field :password %> 
<%= u.submit 'Create Profile' %>
<% end %>

<h3>Or Sign up with Google:</h3> 
<%= button_to 'Google', '/auth/google_oauth2' %>
