
<%= stylesheet_link_tag 'home' %>

<div class="container">
<h1 class="center">Welcome to Paratracker</h1>
<h2 class="center">Log In To Report a Sighting!</h2>

<h3>If your new around here, please <%= link_to "Sign Up", signup_path %></h3>

<h3>Or Login below:</h3>
<%= form_with(url: '/login', local: true) do |f| %>
    <%= f.label :email %><br>
    <%= f.email_field :email %><br><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Log In" %><br><br>
<% end %>

</div>

<%= button_to 'Google', '/auth/google_oauth2' %>



