<h2>Have you seen something unexplainable? Let us know about it</h2> 

<%= form_with model: @cryptid do |c| %> 

    <%= c.label :name %> 
    <%= c.text_field :name %><br><br> 
    
    <%= c.label :description %> 
    <%= c.text_field :description %><br><br> 

    <%= c.submit %> 

    <% end %>
    

     