<% if @cryptid.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@cryptid.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <% @cryptid.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h2>Have you seen something unexplainable? Tell us about it!</h2> 

<%= form_with model: @cryptid do |c| %> 

    <%= c.label :name %> 
    <%= c.text_field :name %><br><br> 
    
    <%= c.label :description %> 
    <%= c.text_field :description %><br><br> 

    <%= c.submit %> 

    <% end %>
    

     