<h1>Sighting</h1>
Date: <%= @sighting.date %><br><br>  
Location: <%= @sighting.location %><br><br> 
Cryptid: <%= @sighting.cryptid.name %><br><br>  
Account: <%= @sighting.account %>

<%= button_to('Edit Sighting', edit_sighting_path(@sighting), method: :get) %>  
<%= button_to('Delete this Sighting', sighting_path(@sighting), method: :delete) %>  



    

  
