<h1>Create your Profile here!</h1>
<%= form_with model: @user do |u| %> 
<%= u.label :first_name %> 
<%= u.text_field :first_name %> 
<%= u.label :last_name %> 
<%= u.text_field :last_name %> 
<%= u.label :email %> 
<%= u.text_field :email %> 
<%= u.label :username %> 
<%= u.text_field :username %> 
<%= u.label :password %> 
<%= u.password_field :password %> 
<%= u.submit 'Create Profile' %>
<% end %>

<h3>Or Create a Profile using Google:</h3> 
<%= button_to 'Google', '/auth/google_oauth2' %>
