<!DOCTYPE html>
<html>
  <head>
    <title>ParatrackerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div>
    <br>
      <% if current_user %>

        <%= link_to "Account Settings", edit_user_path(current_user) %> |
        <%= link_to "Report a Sighting", new_sighting_path %><br>
        <%= button_to "Log Out", logout_path %>
      <% end %>
      <br><br><br>
    </div>
    <%= yield %> 
  </body>
</html>
